extends layout
block content
	script(src="js/leditname.js")
	script(src="js/explorer.js")
	link(rel='stylesheet', href='css/explorer.css')
	link(rel='stylesheet', href='css/lmenu.css')
	link(rel='stylesheet', href='css/lprogress.css')
	#allthescreen(style="display:flex;flex-direction:row;height:100%;")
		.leftmenu
			#collection.leftmenuitem > 收藏夹
		.explorer
			.AddressBar
				button.Small(disabled)
					i(class="fa fa-chevron-left" aria-hidden="true")
				button.Small(disabled)
					i(class="fa fa-chevron-right" aria-hidden="true")
				button.Small(:disabled="canUp != true" v-on:click.left="UpClick")
					i(class="fa fa-arrow-up" aria-hidden="true")
				.AddressEdit
					input(type="text" v-model='path' @keyup.13="ok")
					.AddressEditMask {{ path }}
				progress(v-bind:value="progress" max="100" v-if="vprogress")
			#dish(
				@contextmenu.self="!$event.ctrlKey && click_bg_right($event);"
				@contextmenu.self.ctrl="click_bg_right_ctrl($event);"
        @mouseup="mouseup($event);"
        @mousedown="mousedown($event);"
        @mousemove="mousemove($event);"
				)
				.FileCard(v-for="(item,index) in Items" v-bind:id='index'
						v-bind:class="{ 'SelectFileCard': item.Choose^item.Select }"
						@mousedown="mouse_item_down($event,item);"
						@mousemove="mouse_item_move($event,item);"
						@mouseup="mouse_item_up($event,item);"
						@contextmenu.stop.prevent="!$event.ctrlKey && click_item_right($event,index,item);" 
						@contextmenu.ctrl.stop.prevent="click_item_right_ctrl($event,index,item);" 
						@dblclick.left="dbclick_item(index,item);"
						@click.stop.prevent
					)
					.FileIcon
						svg.icon(viewBox="0 0 1024 1024" version="1.1" v-if="item.IconType==0")
							path(v-bind:d='item.icon',fill="#000000")
						svg.icon(viewBox="0 0 1024 1024" version="1.1" v-if="item.IconType==2")
							path(v-bind:d='paths.path',v-bind:fill="paths.fill" v-for="(paths,index) in item.icon")
						img(v-bind:src='item.icon' width="100%" height="100%" v-if="item.IconType==3")
					.FileName {{ item.name }}
					.FileCardMask(
						draggable="true"
						@dragstart="dgstart($event,item)"
						@dragend="dragend($event, item)"
						@dragover="allowDrop($event)"
						@drop="drop($event, item)"
					)
			#vue
				.SelectBox#SelectBox(v-bind:style="{ top: SelectBox.Top+ 'px', left: SelectBox.Left + 'px',width: SelectBox.Width+ 'px',height: SelectBox.Height+ 'px'}" v-show="SelectBox.Visual")
				editname(id="en1" v-model:value='editvalue' v-on:ok_click='editname_ok_click')
	#menu1(class="lmenu",v-show="visual",v-bind:style="{ top: Top+ 'px', left: Left + 'px'}",v-cloak)
		button.lmenu_item#download(:disabled="canDownload != true" @click="click_Download") 下载
		button.lmenu_item#delete(:disabled="canDelete != true" @click="click_Delete") 删除
		button.lmenu_item#delete(:disabled="canReName != true" @click="click_ReName") 重命名
		.lmenu_line
		button.lmenu_item#cute(:disabled="canCut != true" @click="click_Cut") 剪切
		button.lmenu_item#copy(:disabled="canCopy != true" @click="click_Copy") 复制
		button.lmenu_item#paste(:disabled="canPaste != true" @click="click_Paste") 粘贴
		.lmenu_line
		button.lmenu_item#mkdir(:disabled="canMkdir != true" @click="click_Mkdir") 建立文件夹
		.lmenu_line
		button.lmenu_item(:disabled="canProperty != true") 属性
