extends layout
block content
  div(style="height:100%;display:flex;flex-direction:row;")
    script= 'var CPUCOUNT='+cpus.length+';'
    script(src="js/echarts.min.js")
    script(src="js/index.js")
    link(rel='stylesheet', href='css/index.css')
    div(style="background-color: #EEEEEE;width: 100px;")
      -var item_index=0;
      mixin item(text,selected,icon)
        if selected==ture
          li.level-one.selected(id= "switch_"+item_index,onclick="SwitchTable("+item_index+");")
            svg.icon(viewBox="0 0 1024 1024" version="1.1")
              path(d=icon,fill="#2c2c2c")
            div(style="width:100%;align-content: center;")
              b(style="color:#000000;")= text
        else
          li.level-one(id= "switch_"+item_index,onclick="SwitchTable("+item_index+");")
            svg.icon(viewBox="0 0 1024 1024" version="1.1")
              path(d= icon,fill="#2c2c2c")
            div(style="width:100%;align-content: center;")
              b(style="color:#000000;")= text
        -item_index++
      div(style="background-color: #EEEEEE;width: 100px;display: flex;flex-direction: row;flex-wrap: nowrap;")
      ul#menu-nav-bar
        +item("CPU",ture,"M955.5 364.5v-50H847V177H709.5V71.5h-50V177H537V71.5h-50V177H364.5V71.5h-50V177H177v137.5H68.5v50H177V487H68.5v50H177v122.5H68.5v50H177V847h137.5v105.5h50V847H487v105.5h50V847h122.5v105.5h50V847H847V709.5h108.5v-50H847V537h108.5v-50H847V364.5h108.5zM797 797H227V227h570v570zM672 352H352v320h320V352z m-50 270H402V402h220v220z")
        +item("内存",false,"M920.064 831.936H771.2a36.608 36.608 0 0 1-37.184-35.84l-0.064-35.84h-49.664V832H609.92v-71.68h-49.664V832H460.992v-71.68h-49.6V832H336.96v-71.68h-49.664l-0.256 35.712a35.2 35.2 0 0 1-10.88 25.408 37.952 37.952 0 0 1-26.24 10.496H101.12a37.952 37.952 0 0 1-26.304-10.496 35.2 35.2 0 0 1-10.88-25.408V294.464c0-19.84 16.64-35.84 37.184-35.84h818.816c9.856 0 19.392 3.712 26.368 10.432a35.2 35.2 0 0 1 10.88 25.408v501.568a35.2 35.2 0 0 1-10.88 25.408 37.952 37.952 0 0 1-26.304 10.496z m-37.248-170.24h-39.04a36.608 36.608 0 0 1-37.312-35.84c0-19.84 16.704-35.904 37.312-35.904h39.04V330.368H138.496v259.584h37.76c20.608 0 37.312 16 37.312 35.84 0 19.84-16.64 35.84-37.248 35.84h-37.888v98.496h74.24l0.256-47.616c0-19.84 4.288-23.936 24.832-23.936h545.92c20.48 0 24.768 4.096 24.768 23.936v47.616h74.432v-98.432h-0.064z m-148.864-116.48h74.432V378.112h-74.432V545.28z m-173.696 0h74.496V378.112H560.256V545.28z m-173.632 0h74.432V378.112H386.624V545.28zM212.864 378.112h74.432V545.28l-73.216-0.128-1.28-167.104z")
        +item("网卡",false,"M959.366592 430.713162H285.422083V113.645785h-93.447125v317.067377H64.633408c-18.036575 0-32.65785 14.621275-32.65785 32.65785v414.345834c0 18.036575 14.621275 32.65785 32.65785 32.65785h894.733184c18.036575 0 32.65785-14.621275 32.65785-32.65785V463.371012c0-18.036575-14.621275-32.65785-32.65785-32.65785zM350.494565 751.165116h-64.00488V591.645753h64.00488v159.519363z m191.465479 0h-64.00488V591.645753h64.00488v159.519363z m191.160816 0h-64.0036V591.645753h64.0036v159.519363z")
        script= 'var ITEMCOUNT='+item_index+';'
    .table#table_0(style="border:0px solid #4CAF50;height:100%;display: flex;flex-direction: column;")
      case cpus.length
        when 1
          .cpu-image(id="cpu-img-0" style="width:100%;width:100%;")
        when 2
          .cpu-image(id="cpu-img-0" style="width:50%;width:100%;")
          .cpu-image(id="cpu-img-1" style="width:50%;width:100%;")
        when 3,4
          #Line1(style="border:0px solid #4CAF50;width:100%;height:100%;display: flex;flex-direction: row;")
            .cpu-image(id="cpu-img-0" style="width:50%;width:100%;")
            .cpu-image(id="cpu-img-2" style="width:50%;width:100%;")
          #Line2(style="border:0px solid #4CAF50;width:100%;height:100%;display: flex;flex-direction: row;")
          .cpu-image(id="cpu-img-1" style="width:50%;width:100%;")
          .cpu-image(id="cpu-img-3" style="width:50%;width:100%;")
        default
          -var index = 0
          #Line1(style="border:0px solid #4CAF50;width:100%;height:100%;display: flex;flex-direction: row;")
            while index < 4
              .cpu-image(id="cpu-img-"+index style="width:25%;width:100%;")
              - index++
          #Line2(style="border:0px solid #4CAF50;width:100%;height:100%;display: flex;flex-direction: row;")
            while index < 8
              .cpu-image(id="cpu-img-"+index style="width:25%;width:100%;")
              - index++
    .table#table_1
      .mem-img#mem-img(style="width: 100%;")
      b(style="font-size:24px") 实时数据:
      .progress#progress1
        .progress-bar(role="progressbar" v-bind:style="{width: ratio +'%'}" v-bind:aria-valuenow= 'ratio' aria-valuemin="0" aria-valuemax="100")= '{{ratio}}%'
      #mem_info(style="border:0px solid #4CAF50;height:200px;display: flex;flex-direction: row;justify-content: space-between;")
        #memT1
          b(style="font-size:24px") 总量
          br
          b(style="font-size:32px") {{format_total}}({{total}}字节)
        #memT2
          b(style="font-size:24px") 已用
          br
          b(style="font-size:32px") {{format_used}}({{used}}字节)
    .table#table_2
      .net-img(id="net-img", style="border:0px solid #4CAF50;height:600px;width: 100%;") 这是网络图