doctype html
//overflow-x: hidden;overflow: hidden;
html(style="height: 100%;width: 100%;")
  head
    title= title
    meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/Layout.css')
  //body(style="background-image:url(BG.png); background-size: cover;display:flex;flex-direction:column;")
  body(bgcolor="#FF0000",style="height: 100%;width: 100%;display:flex;flex-direction:column;",oncontextmenu="window.event.returnValue=false" onselectstart="return PAGE_CANSELECT;")
    #msgbox(class='modal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4.modal-title#modal-title 提示
          #MsgboxContent.modal-body 提示内容!
          .modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") 关闭
            button(type="button" class="btn btn-primary" data-dismiss="modal") 确认
    nav.navbar-inverse.navber-fixed-top.navbar-expand-lg(style="height:50px;")
      button.navbar-toggle collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
      .container(style="height: 100%;")
        .navber-header(style="text-align: center;")
        a.navbar-brand(href='#')= title
        - var id = 0;
        mixin ATab(text,route)
          case active
            when id: li(class='active')
              a(href=route)= text
            default: li
              a(href=route)= text
          - id++;
        ul(class='nav navbar-nav mr-auto')
          +ATab('首页','/')
          +ATab('文件管理','Explorer')
          +ATab('进程管理','TaskManager')
          +ATab('网络管理','NetManager')
          //li
          //  a(href='http://www.cnblogs.com/DragonStart/' target='_blank') 我的博客
        if landed!=true
          a(class="btn btn-primary" href="/Login" style="margin-top:6px;float:right;") 登录
        else
          a(class="btn btn-primary" href="#" style="margin-top:6px;float:right;")='欢迎登录 ' + userinfo.username
    script(src='js/jquery-3.2.1.min.js')
    script(src='js/vue.js')
    script(src='js/popper.min.js')
    //script(src='bootstrap/dist/js/bootstrap.min.js')
    script(src='js/Layout.js')
    block content
    div(style="background: linear-gradient(to bottom, #454545, #555555);")
      hr
      div(style="margin-right:30px;height:70px;float:right;color: #bed1df;") --LinExplorer 2017
      center(style="color: #fff;") 粤ICP备18059611号-1
