extends layout
block content
  div(style="height:100%;")
    .container
      div(class="starter-template")
    main(role="main")
      div(class="jumbotron")
        div(class="container")
          h2(class="display-3")= title
          p 基于KOA2框架实现的在线服务器资源管理器
        hr
      .container
        .row
          div.col-md-4
          div.col-md-4
            h2.form-signin-heading 请输入信息
            label(for="inputEmail" class="sr-only") 用户名
            input(type="text",id="inputuser",class="form-control",placeholder="用户名",required,autofocus)
            label(for="inputPassword" class="sr-only") 密码
            input.form-control(type="password" id="inputPassword" placeholder="密码" required)
            div() 测试账户:admin 密码:admin
            //.checkbox
            //  label
            //    input(type="checkbox" value="记住我")
            //    label 记住我
            //
            button#submit_login(class="btn btn-lg btn-primary btn-block") 登录
          div.col-md-4
  script(src='js/Login.js')
